@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* ///////// RESET ////////// */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: var(--White);
}

/* ///////// RESET ////////// */

/* ///////// Colors ////////// */

:root {
  --Green-500: hsl(163, 72%, 41%);
  --Red-500: hsl(356, 69%, 56%);
  --Red-700: hsl(348, 97%, 39%);
  --Blue-600: hsl(208, 92%, 53%);
  --Blue-500: hsl(203, 89%, 53%);
  --Blue-50: hsl(225, 100%, 98%);
  --Navy-950: hsl(228, 28%, 20%);
  --Navy-900: hsl(228, 25%, 27%);
  --Navy-50: hsl(227, 47%, 96%);
  --Gray-950: hsl(230, 17%, 14%);
  --Gray-900: hsl(232, 19%, 15%);
  --Gray-650: hsl(228, 12%, 44%);
  --Gray-600: hsl(229, 19%, 59%);
  --Gray-400: hsl(230, 22%, 74%);
  --Gray-200: hsl(228, 33%, 91%);
  --White: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);

  /* - Linear gradient (Instagram): hsl(37, 97%, 70%) to hsl(5, 77%, 71%) to hsl(329, 70%, 58%)
- Linear gradient (Toggle): hsl(210, 79%, 56%) to hsl(146, 68%, 55%) */
}

/* ///////// Colors ////////// */

/* ///////// TYPOGRAPHY ////////// */

.text-1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -2px;
  line-height: 85%;
  color: var(--Gray-950);
}
.text-2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 125%;
  color: var(--Gray-950);
}
.text-3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 125%;
  color: var(--Gray-950);
}
.text-4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 125%;
  color: var(--Gray-650);
}
.text-5 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 125%;
  color: var(--Gray-650);
}
.text-5-dm {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 125%;
  color: var(--Gray-600);
}
.text-6-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 125%;
  color: var(--Gray-600);
}
.text-6-bold-green {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 125%;
  color: var(--Green-500);
}
.text-6-bold-red {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 125%;
  color: var(--Red-500);
}
.text-6-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 5px;
  line-height: 125%;
  color: var(--Gray-600);
}

/* ///////// TYPOGRAPHY ////////// */
/* ///////// BUTTON ////////// */
/* ///////// BUTTON ////////// */

main {
  max-width: 1440px;
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
}

.social-media-dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}

.dark-mode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

input[type="checkbox"] {
  position: relative;
  width: 50px;
  height: 24px;
  appearance: none;
  background: var(--Gray-400);
  outline: none;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background-image: linear-gradient(
    90deg,
    rgba(64, 219, 130, 1) 0%,
    rgba(56, 143, 231, 1) 100%
  );
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  top: 3px;
  right: 2px;
  background: var(--Navy-50);
  transition: 0.5s;
}
input:checked[type="checkbox"]:before {
  left: 2px;
  background: var(--Navy-900);
  transition: 0.5s;
}

.social-account-information,
.page-views-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1440px;
  width: 100%;
  column-gap: 32px;
  row-gap: 24px;
}
.social-container {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--Navy-50);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.social-container:hover {
  background-color: var(--Gray-200);
}
.social-container-facebook {
  border-top: 4px solid var(--Blue-600);
}
.social-container-twitter {
  border-top: 4px solid var(--Blue-500);
}
.social-container-instagram {
  border-top: 4px solid hsl(5, 77%, 71%);
}
.social-container-youtube {
  border-top: 4px solid var(--Red-500);
}

.account-name,
.today-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.followers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.overview-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}

.page-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--Blue-50);
  border-radius: 5px;
  min-height: 125px;
  cursor: pointer;
  transition: 0.3s;
}
.page-information:hover {
  background-color: var(--Gray-200);
}

.info-title,
.info-title-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.info-title-stats {
  align-items: flex-start;
}

.info-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.social-icon {
  height: 20px;
  width: 20px;
}

@media (max-width: 1500px) {
  main {
    min-height: 1427px;
    padding: 1rem 3rem;
    gap: 32px;
  }
  .social-media-dashboard {
    flex-direction: column;
    align-items: flex-start;
  }
  .dashboard-title {
    padding-bottom: 24px;
  }
  .dark-mode-container {
    padding-top: 24px;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid var(--Gray-600);
  }
  .social-account-information,
  .page-views-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }
}

@media (max-width: 650px) {
  main {
    min-height: 2386px;
  }
  .social-account-information,
  .page-views-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }
  .page-views-container {
    row-gap: 16px;
  }
}

.darkmode {
  /* --Green-500: hsl(163, 72%, 41%);
  --Red-500: hsl(356, 69%, 56%);
  --Red-700: hsl(348, 97%, 39%);
  --Blue-600: hsl(208, 92%, 53%);
  --Blue-500: hsl(203, 89%, 53%);
  --Blue-50: hsl(225, 100%, 98%);
  --Navy-950: hsl(228, 28%, 20%);
  --Navy-900: hsl(228, 25%, 27%);
  --Navy-50: hsl(227, 47%, 96%);
  --Gray-950: hsl(230, 17%, 14%);
  --Gray-900: hsl(232, 19%, 15%);
  --Gray-650: hsl(228, 12%, 44%);
  --Gray-600: hsl(229, 19%, 59%);
  --Gray-400: hsl(230, 22%, 74%);
  --Gray-200: hsl(228, 33%, 91%);
  --black: hsl(0, 0%, 0%); */
  --White: hsl(230, 17%, 14%);
  --Gray-950: hsl(0, 100%, 100%);
  --Gray-650: hsl(230, 22%, 74%);
  --Gray-600: hsl(230, 22%, 74%);
  --Navy-50: hsl(228, 25%, 27%);
  --Blue-50: hsl(228, 25%, 27%);
  --Gray-200: hsl(228, 12%, 44%);
}
